.odd-row {
  background-color: rgba(0, 0, 0, 0.05);
}

.user-info {
  display: flex;
  justify-content: space-around;
}

.user-picture {
  align-self: center;
}

.avatar-placeholder {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.main-container {
  padding-top: 40px;
}

.search-input {
  margin-bottom: 40px;
  margin-left: 30px;
}
